:root{
  --blue:#0A3871;
  --claro:#c5daf1;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

  body{
    height: 90vh;
    background: var(--claro);
  }
  @media (min-width: 768px) { 
    body{
      /* background: #aff8b9; */
    }
    .logo{
      position: absolute;
      top: 20px;
      left: 20px;
      width: 100px;
    }
    .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;

    }
    .left{
      height: 500px;
      display: flex;
      margin-top: 12rem;
      flex-direction: column;
      gap: 1rem;
    }
    .input{
      width: 700px;
      border-radius: 1rem;
      padding: 1rem;
      font-size: 2rem;
      color: var(--blue);
      background: transparent;
      border: none;
      outline: none;
    }
    ::placeholder{
      font-size: 2rem;
      color: var(--blue);
    }
    .down{
      display: flex;
      flex-direction: column;
      gap: .5rem;
    }
    .buttons{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 1rem;
    }
    button{
      padding: 1rem;
      font-size: 1.5rem;
      border-radius: 1rem;
      border: none;
      font-weight: bold;
      transition: .2s ease-out;
      border: 2px solid var(--blue);
    }
    button:hover{
      cursor: pointer;
      transform: scale(0.95);
      transition: .2s ease-out;
    }
    .button1{
      background: var(--blue);
      color: var(--claro);
    }
    .button2, .buttonCopy{
      background: var(--claro);
      color: var(--blue);
    }

    .right{
      height: 500px;
      width: 100%;
    }
    .nothing{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .msg{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .msg1{
      font-weight: bold;
      color: var(--blue);
      font-size: 2rem;
    }
    .msg2{
      font-size: 1.5rem;
    }
    .result{
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .resultado{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      font-size: 2rem;
      width: 80%;
    }
    .clip{
      max-height: 500px;
      max-width: 500px;
      overflow-y: auto;
    }
    .wait{
      font-size: 2rem;
    }
    .credits{
      position: fixed;
      bottom: 100;
      font-size: 2rem;
    }
    .credits a {
      text-decoration: none;
      color: var(--blue);
      font-weight: bold;
      opacity: .5;
    }
    .top{
      display: flex;
      justify-content: space-between;
    }
   }
  
  @media (min-width: 1280px) { 
    body{
      background: #a14545;
    }
    .logo{
      position: absolute;
      top: 20px;
      left: 20px;
      width: 100px;
    }
    .container{
    display: flex;
    flex-direction: row;

  }
    .left{
      height: auto;
      display: flex;
      margin-top: 12rem;
    }

    .clip{
      max-height: 500px;
      max-width: 500px;
      overflow-y: auto;
    }
   }
  